<div class="select-icon-category">
  <ul>
    <li id="3d_rotation"><i class="material-icons left">3d_rotation</i></li>
    <li id="ac_unit"><i class="material-icons left">ac_unit</i></li>
    <li id="access_alarm"><i class="material-icons left">access_alarm</i></li>
    <li id="access_alarms"><i class="material-icons left">access_alarms</i></li>
    <li id="access_time"><i class="material-icons left">access_time</i></li>
    <li id="accessibility"><i class="material-icons left">accessibility</i></li>
    <li id="accessible"><i class="material-icons left">accessible</i></li>
    <li id="account_balance"><i class="material-icons left">account_balance</i></li>
    <li id="account_balance_wallet"><i class="material-icons left">account_balance_wallet</i></li>
    <li id="account_box"><i class="material-icons left">account_box</i></li>
    <li id="account_circle"><i class="material-icons left">account_circle</i></li>
    <li id="adb"><i class="material-icons left">adb</i></li>
    <li id="add"><i class="material-icons left">add</i></li>
    <li id="add_a_photo"><i class="material-icons left">add_a_photo</i></li>
    <li id="add_alarm"><i class="material-icons left">add_alarm</i></li>
    <li id="add_alert"><i class="material-icons left">add_alert</i></li>
    <li id="add_box"><i class="material-icons left">add_box</i></li>
    <li id="add_circle"><i class="material-icons left">add_circle</i></li>
    <li id="add_circle_outline"><i class="material-icons left">add_circle_outline</i></li>
    <li id="add_location"><i class="material-icons left">add_location</i></li>
    <li id="add_shopping_cart"><i class="material-icons left">add_shopping_cart</i></li>
    <li id="add_to_photos"><i class="material-icons left">add_to_photos</i></li>
    <li id="add_to_queue"><i class="material-icons left">add_to_queue</i></li>
    <li id="adjust"><i class="material-icons left">adjust</i></li>
    <li id="airline_seat_flat"><i class="material-icons left">airline_seat_flat</i></li>
    <li id="airline_seat_flat_angled"><i class="material-icons left">airline_seat_flat_angled</i></li>
    <li id="airline_seat_individual_suite"><i class="material-icons left">airline_seat_individual_suite</i></li>
    <li id="airline_seat_legroom_extra"><i class="material-icons left">airline_seat_legroom_extra</i></li>
    <li id="airline_seat_legroom_normal"><i class="material-icons left">airline_seat_legroom_normal</i></li>
    <li id="airline_seat_legroom_reduced"><i class="material-icons left">airline_seat_legroom_reduced</i></li>
    <li id="airline_seat_recline_extra"><i class="material-icons left">airline_seat_recline_extra</i></li>
    <li id="airline_seat_recline_normal"><i class="material-icons left">airline_seat_recline_normal</i></li>
    <li id="airplanemode_active"><i class="material-icons left">airplanemode_active</i></li>
    <li id="airplanemode_inactive"><i class="material-icons left">airplanemode_inactive</i></li>
    <li id="airplay"><i class="material-icons left">airplay</i></li>
    <li id="airport_shuttle"><i class="material-icons left">airport_shuttle</i></li>
    <li id="alarm"><i class="material-icons left">alarm</i></li>
    <li id="alarm_add"><i class="material-icons left">alarm_add</i></li>
    <li id="alarm_off"><i class="material-icons left">alarm_off</i></li>
    <li id="alarm_on"><i class="material-icons left">alarm_on</i></li>
    <li id="album"><i class="material-icons left">album</i></li>
    <li id="all_inclusive"><i class="material-icons left">all_inclusive</i></li>
    <li id="all_out"><i class="material-icons left">all_out</i></li>
    <li id="android"><i class="material-icons left">android</i></li>
    <li id="announcement"><i class="material-icons left">announcement</i></li>
    <li id="apps"><i class="material-icons left">apps</i></li>
    <li id="archive"><i class="material-icons left">archive</i></li>
    <li id="arrow_back"><i class="material-icons left">arrow_back</i></li>
    <li id="arrow_downward"><i class="material-icons left">arrow_downward</i></li>
    <li id="arrow_drop_down"><i class="material-icons left">arrow_drop_down</i></li>
    <li id="arrow_drop_down_circle"><i class="material-icons left">arrow_drop_down_circle</i></li>
    <li id="arrow_drop_up"><i class="material-icons left">arrow_drop_up</i></li>
    <li id="arrow_forward"><i class="material-icons left">arrow_forward</i></li>
    <li id="arrow_upward"><i class="material-icons left">arrow_upward</i></li>
    <li id="art_track"><i class="material-icons left">art_track</i></li>
    <li id="aspect_ratio"><i class="material-icons left">aspect_ratio</i></li>
    <li id="assessment"><i class="material-icons left">assessment</i></li>
    <li id="assignment"><i class="material-icons left">assignment</i></li>
    <li id="assignment_ind"><i class="material-icons left">assignment_ind</i></li>
    <li id="assignment_late"><i class="material-icons left">assignment_late</i></li>
    <li id="assignment_return"><i class="material-icons left">assignment_return</i></li>
    <li id="assignment_returned"><i class="material-icons left">assignment_returned</i></li>
    <li id="assignment_turned_in"><i class="material-icons left">assignment_turned_in</i></li>
    <li id="assistant"><i class="material-icons left">assistant</i></li>
    <li id="assistant_photo"><i class="material-icons left">assistant_photo</i></li>
    <li id="attach_file"><i class="material-icons left">attach_file</i></li>
    <li id="attach_money"><i class="material-icons left">attach_money</i></li>
    <li id="attachment"><i class="material-icons left">attachment</i></li>
    <li id="audiotrack"><i class="material-icons left">audiotrack</i></li>
    <li id="autorenew"><i class="material-icons left">autorenew</i></li>
    <li id="av_timer"><i class="material-icons left">av_timer</i></li>
    <li id="backspace"><i class="material-icons left">backspace</i></li>
    <li id="backup"><i class="material-icons left">backup</i></li>
    <li id="battery_alert"><i class="material-icons left">battery_alert</i></li>
    <li id="battery_charging_full"><i class="material-icons left">battery_charging_full</i></li>
    <li id="battery_full"><i class="material-icons left">battery_full</i></li>
    <li id="battery_std"><i class="material-icons left">battery_std</i></li>
    <li id="battery_unknown"><i class="material-icons left">battery_unknown</i></li>
    <li id="beach_access"><i class="material-icons left">beach_access</i></li>
    <li id="beenhere"><i class="material-icons left">beenhere</i></li>
    <li id="block"><i class="material-icons left">block</i></li>
    <li id="bluetooth"><i class="material-icons left">bluetooth</i></li>
    <li id="bluetooth_audio"><i class="material-icons left">bluetooth_audio</i></li>
    <li id="bluetooth_connected"><i class="material-icons left">bluetooth_connected</i></li>
    <li id="bluetooth_disabled"><i class="material-icons left">bluetooth_disabled</i></li>
    <li id="bluetooth_searching"><i class="material-icons left">bluetooth_searching</i></li>
    <li id="blur_circular"><i class="material-icons left">blur_circular</i></li>
    <li id="blur_linear"><i class="material-icons left">blur_linear</i></li>
    <li id="blur_off"><i class="material-icons left">blur_off</i></li>
    <li id="blur_on"><i class="material-icons left">blur_on</i></li>
    <li id="book"><i class="material-icons left">book</i></li>
    <li id="bookmark"><i class="material-icons left">bookmark</i></li>
    <li id="bookmark_border"><i class="material-icons left">bookmark_border</i></li>
    <li id="border_all"><i class="material-icons left">border_all</i></li>
    <li id="border_bottom"><i class="material-icons left">border_bottom</i></li>
    <li id="border_clear"><i class="material-icons left">border_clear</i></li>
    <li id="border_color"><i class="material-icons left">border_color</i></li>
    <li id="border_horizontal"><i class="material-icons left">border_horizontal</i></li>
    <li id="border_inner"><i class="material-icons left">border_inner</i></li>
    <li id="border_left"><i class="material-icons left">border_left</i></li>
    <li id="border_outer"><i class="material-icons left">border_outer</i></li>
    <li id="border_right"><i class="material-icons left">border_right</i></li>
    <li id="border_style"><i class="material-icons left">border_style</i></li>
    <li id="border_top"><i class="material-icons left">border_top</i></li>
    <li id="border_vertical"><i class="material-icons left">border_vertical</i></li>
    <li id="branding_watermark"><i class="material-icons left">branding_watermark</i></li>
    <li id="brightness_1"><i class="material-icons left">brightness_1</i></li>
    <li id="brightness_2"><i class="material-icons left">brightness_2</i></li>
    <li id="brightness_3"><i class="material-icons left">brightness_3</i></li>
    <li id="brightness_4"><i class="material-icons left">brightness_4</i></li>
    <li id="brightness_5"><i class="material-icons left">brightness_5</i></li>
    <li id="brightness_6"><i class="material-icons left">brightness_6</i></li>
    <li id="brightness_7"><i class="material-icons left">brightness_7</i></li>
    <li id="brightness_auto"><i class="material-icons left">brightness_auto</i></li>
    <li id="brightness_high"><i class="material-icons left">brightness_high</i></li>
    <li id="brightness_low"><i class="material-icons left">brightness_low</i></li>
    <li id="brightness_medium"><i class="material-icons left">brightness_medium</i></li>
    <li id="broken_image"><i class="material-icons left">broken_image</i></li>
    <li id="brush"><i class="material-icons left">brush</i></li>
    <li id="bubble_chart"><i class="material-icons left">bubble_chart</i></li>
    <li id="bug_report"><i class="material-icons left">bug_report</i></li>
    <li id="build"><i class="material-icons left">build</i></li>
    <li id="burst_mode"><i class="material-icons left">burst_mode</i></li>
    <li id="business"><i class="material-icons left">business</i></li>
    <li id="business_center"><i class="material-icons left">business_center</i></li>
    <li id="cached"><i class="material-icons left">cached</i></li>
    <li id="cake"><i class="material-icons left">cake</i></li>
    <li id="call"><i class="material-icons left">call</i></li>
    <li id="call_end"><i class="material-icons left">call_end</i></li>
    <li id="call_made"><i class="material-icons left">call_made</i></li>
    <li id="call_merge"><i class="material-icons left">call_merge</i></li>
    <li id="call_missed"><i class="material-icons left">call_missed</i></li>
    <li id="call_missed_outgoing"><i class="material-icons left">call_missed_outgoing</i></li>
    <li id="call_received"><i class="material-icons left">call_received</i></li>
    <li id="call_split"><i class="material-icons left">call_split</i></li>
    <li id="call_to_action"><i class="material-icons left">call_to_action</i></li>
    <li id="camera"><i class="material-icons left">camera</i></li>
    <li id="camera_alt"><i class="material-icons left">camera_alt</i></li>
    <li id="camera_enhance"><i class="material-icons left">camera_enhance</i></li>
    <li id="camera_front"><i class="material-icons left">camera_front</i></li>
    <li id="camera_rear"><i class="material-icons left">camera_rear</i></li>
    <li id="camera_roll"><i class="material-icons left">camera_roll</i></li>
    <li id="cancel"><i class="material-icons left">cancel</i></li>
    <li id="card_giftcard"><i class="material-icons left">card_giftcard</i></li>
    <li id="card_membership"><i class="material-icons left">card_membership</i></li>
    <li id="card_travel"><i class="material-icons left">card_travel</i></li>
    <li id="casino"><i class="material-icons left">casino</i></li>
    <li id="cast"><i class="material-icons left">cast</i></li>
    <li id="cast_connected"><i class="material-icons left">cast_connected</i></li>
    <li id="center_focus_strong"><i class="material-icons left">center_focus_strong</i></li>
    <li id="center_focus_weak"><i class="material-icons left">center_focus_weak</i></li>
    <li id="change_history"><i class="material-icons left">change_history</i></li>
    <li id="chat"><i class="material-icons left">chat</i></li>
    <li id="chat_bubble"><i class="material-icons left">chat_bubble</i></li>
    <li id="chat_bubble_outline"><i class="material-icons left">chat_bubble_outline</i></li>
    <li id="check"><i class="material-icons left">check</i></li>
    <li id="check_box"><i class="material-icons left">check_box</i></li>
    <li id="check_box_outline_blank"><i class="material-icons left">check_box_outline_blank</i></li>
    <li id="check_circle"><i class="material-icons left">check_circle</i></li>
    <li id="chevron_left"><i class="material-icons left">chevron_left</i></li>
    <li id="chevron_right"><i class="material-icons left">chevron_right</i></li>
    <li id="child_care"><i class="material-icons left">child_care</i></li>
    <li id="child_friendly"><i class="material-icons left">child_friendly</i></li>
    <li id="chrome_reader_mode"><i class="material-icons left">chrome_reader_mode</i></li>
    <li id="class"><i class="material-icons left">class</i></li>
    <li id="clear"><i class="material-icons left">clear</i></li>
    <li id="clear_all"><i class="material-icons left">clear_all</i></li>
    <li id="close"><i class="material-icons left">close</i></li>
    <li id="closed_caption"><i class="material-icons left">closed_caption</i></li>
    <li id="cloud"><i class="material-icons left">cloud</i></li>
    <li id="cloud_circle"><i class="material-icons left">cloud_circle</i></li>
    <li id="cloud_done"><i class="material-icons left">cloud_done</i></li>
    <li id="cloud_download"><i class="material-icons left">cloud_download</i></li>
    <li id="cloud_off"><i class="material-icons left">cloud_off</i></li>
    <li id="cloud_queue"><i class="material-icons left">cloud_queue</i></li>
    <li id="cloud_upload"><i class="material-icons left">cloud_upload</i></li>
    <li id="code"><i class="material-icons left">code</i></li>
    <li id="collections"><i class="material-icons left">collections</i></li>
    <li id="collections_bookmark"><i class="material-icons left">collections_bookmark</i></li>
    <li id="color_lens"><i class="material-icons left">color_lens</i></li>
    <li id="colorize"><i class="material-icons left">colorize</i></li>
    <li id="comment"><i class="material-icons left">comment</i></li>
    <li id="compare"><i class="material-icons left">compare</i></li>
    <li id="compare_arrows"><i class="material-icons left">compare_arrows</i></li>
    <li id="computer"><i class="material-icons left">computer</i></li>
    <li id="confirmation_number"><i class="material-icons left">confirmation_number</i></li>
    <li id="contact_mail"><i class="material-icons left">contact_mail</i></li>
    <li id="contact_phone"><i class="material-icons left">contact_phone</i></li>
    <li id="contacts"><i class="material-icons left">contacts</i></li>
    <li id="content_copy"><i class="material-icons left">content_copy</i></li>
    <li id="content_cut"><i class="material-icons left">content_cut</i></li>
    <li id="content_paste"><i class="material-icons left">content_paste</i></li>
    <li id="control_point"><i class="material-icons left">control_point</i></li>
    <li id="control_point_duplicate"><i class="material-icons left">control_point_duplicate</i></li>
    <li id="copyright"><i class="material-icons left">copyright</i></li>
    <li id="create"><i class="material-icons left">create</i></li>
    <li id="create_new_folder"><i class="material-icons left">create_new_folder</i></li>
    <li id="credit_card"><i class="material-icons left">credit_card</i></li>
    <li id="crop"><i class="material-icons left">crop</i></li>
    <li id="crop_16_9"><i class="material-icons left">crop_16_9</i></li>
    <li id="crop_3_2"><i class="material-icons left">crop_3_2</i></li>
    <li id="crop_5_4"><i class="material-icons left">crop_5_4</i></li>
    <li id="crop_7_5"><i class="material-icons left">crop_7_5</i></li>
    <li id="crop_din"><i class="material-icons left">crop_din</i></li>
    <li id="crop_free"><i class="material-icons left">crop_free</i></li>
    <li id="crop_landscape"><i class="material-icons left">crop_landscape</i></li>
    <li id="crop_original"><i class="material-icons left">crop_original</i></li>
    <li id="crop_portrait"><i class="material-icons left">crop_portrait</i></li>
    <li id="crop_rotate"><i class="material-icons left">crop_rotate</i></li>
    <li id="crop_square"><i class="material-icons left">crop_square</i></li>
    <li id="dashboard"><i class="material-icons left">dashboard</i></li>
    <li id="data_usage"><i class="material-icons left">data_usage</i></li>
    <li id="date_range"><i class="material-icons left">date_range</i></li>
    <li id="dehaze"><i class="material-icons left">dehaze</i></li>
    <li id="delete"><i class="material-icons left">delete</i></li>
    <li id="delete_forever"><i class="material-icons left">delete_forever</i></li>
    <li id="delete_sweep"><i class="material-icons left">delete_sweep</i></li>
    <li id="description"><i class="material-icons left">description</i></li>
    <li id="desktop_mac"><i class="material-icons left">desktop_mac</i></li>
    <li id="desktop_windows"><i class="material-icons left">desktop_windows</i></li>
    <li id="details"><i class="material-icons left">details</i></li>
    <li id="developer_board"><i class="material-icons left">developer_board</i></li>
    <li id="developer_mode"><i class="material-icons left">developer_mode</i></li>
    <li id="device_hub"><i class="material-icons left">device_hub</i></li>
    <li id="devices"><i class="material-icons left">devices</i></li>
    <li id="devices_other"><i class="material-icons left">devices_other</i></li>
    <li id="dialer_sip"><i class="material-icons left">dialer_sip</i></li>
    <li id="dialpad"><i class="material-icons left">dialpad</i></li>
    <li id="directions"><i class="material-icons left">directions</i></li>
    <li id="directions_bike"><i class="material-icons left">directions_bike</i></li>
    <li id="directions_boat"><i class="material-icons left">directions_boat</i></li>
    <li id="directions_bus"><i class="material-icons left">directions_bus</i></li>
    <li id="directions_car"><i class="material-icons left">directions_car</i></li>
    <li id="directions_railway"><i class="material-icons left">directions_railway</i></li>
    <li id="directions_run"><i class="material-icons left">directions_run</i></li>
    <li id="directions_subway"><i class="material-icons left">directions_subway</i></li>
    <li id="directions_transit"><i class="material-icons left">directions_transit</i></li>
    <li id="directions_walk"><i class="material-icons left">directions_walk</i></li>
    <li id="disc_full"><i class="material-icons left">disc_full</i></li>
    <li id="dns"><i class="material-icons left">dns</i></li>
    <li id="do_not_disturb"><i class="material-icons left">do_not_disturb</i></li>
    <li id="do_not_disturb_alt"><i class="material-icons left">do_not_disturb_alt</i></li>
    <li id="do_not_disturb_off"><i class="material-icons left">do_not_disturb_off</i></li>
    <li id="do_not_disturb_on"><i class="material-icons left">do_not_disturb_on</i></li>
    <li id="dock"><i class="material-icons left">dock</i></li>
    <li id="domain"><i class="material-icons left">domain</i></li>
    <li id="done"><i class="material-icons left">done</i></li>
    <li id="done_all"><i class="material-icons left">done_all</i></li>
    <li id="donut_large"><i class="material-icons left">donut_large</i></li>
    <li id="donut_small"><i class="material-icons left">donut_small</i></li>
    <li id="drafts"><i class="material-icons left">drafts</i></li>
    <li id="drag_handle"><i class="material-icons left">drag_handle</i></li>
    <li id="drive_eta"><i class="material-icons left">drive_eta</i></li>
    <li id="dvr"><i class="material-icons left">dvr</i></li>
    <li id="edit"><i class="material-icons left">edit</i></li>
    <li id="edit_location"><i class="material-icons left">edit_location</i></li>
    <li id="eject"><i class="material-icons left">eject</i></li>
    <li id="email"><i class="material-icons left">email</i></li>
    <li id="enhanced_encryption"><i class="material-icons left">enhanced_encryption</i></li>
    <li id="equalizer"><i class="material-icons left">equalizer</i></li>
    <li id="error"><i class="material-icons left">error</i></li>
    <li id="error_outline"><i class="material-icons left">error_outline</i></li>
    <li id="euro_symbol"><i class="material-icons left">euro_symbol</i></li>
    <li id="ev_station"><i class="material-icons left">ev_station</i></li>
    <li id="event"><i class="material-icons left">event</i></li>
    <li id="event_available"><i class="material-icons left">event_available</i></li>
    <li id="event_busy"><i class="material-icons left">event_busy</i></li>
    <li id="event_note"><i class="material-icons left">event_note</i></li>
    <li id="event_seat"><i class="material-icons left">event_seat</i></li>
    <li id="exit_to_app"><i class="material-icons left">exit_to_app</i></li>
    <li id="expand_less"><i class="material-icons left">expand_less</i></li>
    <li id="expand_more"><i class="material-icons left">expand_more</i></li>
    <li id="explicit"><i class="material-icons left">explicit</i></li>
    <li id="explore"><i class="material-icons left">explore</i></li>
    <li id="exposure"><i class="material-icons left">exposure</i></li>
    <li id="exposure_neg_1"><i class="material-icons left">exposure_neg_1</i></li>
    <li id="exposure_neg_2"><i class="material-icons left">exposure_neg_2</i></li>
    <li id="exposure_plus_1"><i class="material-icons left">exposure_plus_1</i></li>
    <li id="exposure_plus_2"><i class="material-icons left">exposure_plus_2</i></li>
    <li id="exposure_zero"><i class="material-icons left">exposure_zero</i></li>
    <li id="extension"><i class="material-icons left">extension</i></li>
    <li id="face"><i class="material-icons left">face</i></li>
    <li id="fast_forward"><i class="material-icons left">fast_forward</i></li>
    <li id="fast_rewind"><i class="material-icons left">fast_rewind</i></li>
    <li id="favorite"><i class="material-icons left">favorite</i></li>
    <li id="favorite_border"><i class="material-icons left">favorite_border</i></li>
    <li id="featured_play_list"><i class="material-icons left">featured_play_list</i></li>
    <li id="featured_video"><i class="material-icons left">featured_video</i></li>
    <li id="feedback"><i class="material-icons left">feedback</i></li>
    <li id="fiber_dvr"><i class="material-icons left">fiber_dvr</i></li>
    <li id="fiber_manual_record"><i class="material-icons left">fiber_manual_record</i></li>
    <li id="fiber_new"><i class="material-icons left">fiber_new</i></li>
    <li id="fiber_pin"><i class="material-icons left">fiber_pin</i></li>
    <li id="fiber_smart_record"><i class="material-icons left">fiber_smart_record</i></li>
    <li id="file_download"><i class="material-icons left">file_download</i></li>
    <li id="file_upload"><i class="material-icons left">file_upload</i></li>
    <li id="filter"><i class="material-icons left">filter</i></li>
    <li id="filter_1"><i class="material-icons left">filter_1</i></li>
    <li id="filter_2"><i class="material-icons left">filter_2</i></li>
    <li id="filter_3"><i class="material-icons left">filter_3</i></li>
    <li id="filter_4"><i class="material-icons left">filter_4</i></li>
    <li id="filter_5"><i class="material-icons left">filter_5</i></li>
    <li id="filter_6"><i class="material-icons left">filter_6</i></li>
    <li id="filter_7"><i class="material-icons left">filter_7</i></li>
    <li id="filter_8"><i class="material-icons left">filter_8</i></li>
    <li id="filter_9"><i class="material-icons left">filter_9</i></li>
    <li id="filter_9_plus"><i class="material-icons left">filter_9_plus</i></li>
    <li id="filter_b_and_w"><i class="material-icons left">filter_b_and_w</i></li>
    <li id="filter_center_focus"><i class="material-icons left">filter_center_focus</i></li>
    <li id="filter_drama"><i class="material-icons left">filter_drama</i></li>
    <li id="filter_frames"><i class="material-icons left">filter_frames</i></li>
    <li id="filter_hdr"><i class="material-icons left">filter_hdr</i></li>
    <li id="filter_list"><i class="material-icons left">filter_list</i></li>
    <li id="filter_none"><i class="material-icons left">filter_none</i></li>
    <li id="filter_tilt_shift"><i class="material-icons left">filter_tilt_shift</i></li>
    <li id="filter_vintage"><i class="material-icons left">filter_vintage</i></li>
    <li id="find_in_page"><i class="material-icons left">find_in_page</i></li>
    <li id="find_replace"><i class="material-icons left">find_replace</i></li>
    <li id="fingerprint"><i class="material-icons left">fingerprint</i></li>
    <li id="first_page"><i class="material-icons left">first_page</i></li>
    <li id="fitness_center"><i class="material-icons left">fitness_center</i></li>
    <li id="flag"><i class="material-icons left">flag</i></li>
    <li id="flare"><i class="material-icons left">flare</i></li>
    <li id="flash_auto"><i class="material-icons left">flash_auto</i></li>
    <li id="flash_off"><i class="material-icons left">flash_off</i></li>
    <li id="flash_on"><i class="material-icons left">flash_on</i></li>
    <li id="flight"><i class="material-icons left">flight</i></li>
    <li id="flight_land"><i class="material-icons left">flight_land</i></li>
    <li id="flight_takeoff"><i class="material-icons left">flight_takeoff</i></li>
    <li id="flip"><i class="material-icons left">flip</i></li>
    <li id="flip_to_back"><i class="material-icons left">flip_to_back</i></li>
    <li id="flip_to_front"><i class="material-icons left">flip_to_front</i></li>
    <li id="folder"><i class="material-icons left">folder</i></li>
    <li id="folder_open"><i class="material-icons left">folder_open</i></li>
    <li id="folder_shared"><i class="material-icons left">folder_shared</i></li>
    <li id="folder_special"><i class="material-icons left">folder_special</i></li>
    <li id="font_download"><i class="material-icons left">font_download</i></li>
    <li id="format_align_center"><i class="material-icons left">format_align_center</i></li>
    <li id="format_align_justify"><i class="material-icons left">format_align_justify</i></li>
    <li id="format_align_left"><i class="material-icons left">format_align_left</i></li>
    <li id="format_align_right"><i class="material-icons left">format_align_right</i></li>
    <li id="format_bold"><i class="material-icons left">format_bold</i></li>
    <li id="format_clear"><i class="material-icons left">format_clear</i></li>
    <li id="format_color_fill"><i class="material-icons left">format_color_fill</i></li>
    <li id="format_color_reset"><i class="material-icons left">format_color_reset</i></li>
    <li id="format_color_text"><i class="material-icons left">format_color_text</i></li>
    <li id="format_indent_decrease"><i class="material-icons left">format_indent_decrease</i></li>
    <li id="format_indent_increase"><i class="material-icons left">format_indent_increase</i></li>
    <li id="format_italic"><i class="material-icons left">format_italic</i></li>
    <li id="format_line_spacing"><i class="material-icons left">format_line_spacing</i></li>
    <li id="format_list_bulleted"><i class="material-icons left">format_list_bulleted</i></li>
    <li id="format_list_numbered"><i class="material-icons left">format_list_numbered</i></li>
    <li id="format_paint"><i class="material-icons left">format_paint</i></li>
    <li id="format_quote"><i class="material-icons left">format_quote</i></li>
    <li id="format_shapes"><i class="material-icons left">format_shapes</i></li>
    <li id="format_size"><i class="material-icons left">format_size</i></li>
    <li id="format_strikethrough"><i class="material-icons left">format_strikethrough</i></li>
    <li id="format_textdirection_l_to_r"><i class="material-icons left">format_textdirection_l_to_r</i></li>
    <li id="format_textdirection_r_to_l"><i class="material-icons left">format_textdirection_r_to_l</i></li>
    <li id="format_underlined"><i class="material-icons left">format_underlined</i></li>
    <li id="forum"><i class="material-icons left">forum</i></li>
    <li id="forward"><i class="material-icons left">forward</i></li>
    <li id="forward_10"><i class="material-icons left">forward_10</i></li>
    <li id="forward_30"><i class="material-icons left">forward_30</i></li>
    <li id="forward_5"><i class="material-icons left">forward_5</i></li>
    <li id="free_breakfast"><i class="material-icons left">free_breakfast</i></li>
    <li id="fullscreen"><i class="material-icons left">fullscreen</i></li>
    <li id="fullscreen_exit"><i class="material-icons left">fullscreen_exit</i></li>
    <li id="functions"><i class="material-icons left">functions</i></li>
    <li id="g_translate"><i class="material-icons left">g_translate</i></li>
    <li id="gamepad"><i class="material-icons left">gamepad</i></li>
    <li id="games"><i class="material-icons left">games</i></li>
    <li id="gavel"><i class="material-icons left">gavel</i></li>
    <li id="gesture"><i class="material-icons left">gesture</i></li>
    <li id="get_app"><i class="material-icons left">get_app</i></li>
    <li id="gif"><i class="material-icons left">gif</i></li>
    <li id="golf_course"><i class="material-icons left">golf_course</i></li>
    <li id="gps_fixed"><i class="material-icons left">gps_fixed</i></li>
    <li id="gps_not_fixed"><i class="material-icons left">gps_not_fixed</i></li>
    <li id="gps_off"><i class="material-icons left">gps_off</i></li>
    <li id="grade"><i class="material-icons left">grade</i></li>
    <li id="gradient"><i class="material-icons left">gradient</i></li>
    <li id="grain"><i class="material-icons left">grain</i></li>
    <li id="graphic_eq"><i class="material-icons left">graphic_eq</i></li>
    <li id="grid_off"><i class="material-icons left">grid_off</i></li>
    <li id="grid_on"><i class="material-icons left">grid_on</i></li>
    <li id="group"><i class="material-icons left">group</i></li>
    <li id="group_add"><i class="material-icons left">group_add</i></li>
    <li id="group_work"><i class="material-icons left">group_work</i></li>
    <li id="hd"><i class="material-icons left">hd</i></li>
    <li id="hdr_off"><i class="material-icons left">hdr_off</i></li>
    <li id="hdr_on"><i class="material-icons left">hdr_on</i></li>
    <li id="hdr_strong"><i class="material-icons left">hdr_strong</i></li>
    <li id="hdr_weak"><i class="material-icons left">hdr_weak</i></li>
    <li id="headset"><i class="material-icons left">headset</i></li>
    <li id="headset_mic"><i class="material-icons left">headset_mic</i></li>
    <li id="healing"><i class="material-icons left">healing</i></li>
    <li id="hearing"><i class="material-icons left">hearing</i></li>
    <li id="help"><i class="material-icons left">help</i></li>
    <li id="help_outline"><i class="material-icons left">help_outline</i></li>
    <li id="high_quality"><i class="material-icons left">high_quality</i></li>
    <li id="highlight"><i class="material-icons left">highlight</i></li>
    <li id="highlight_off"><i class="material-icons left">highlight_off</i></li>
    <li id="history"><i class="material-icons left">history</i></li>
    <li id="home"><i class="material-icons left">home</i></li>
    <li id="hot_tub"><i class="material-icons left">hot_tub</i></li>
    <li id="hotel"><i class="material-icons left">hotel</i></li>
    <li id="hourglass_empty"><i class="material-icons left">hourglass_empty</i></li>
    <li id="hourglass_full"><i class="material-icons left">hourglass_full</i></li>
    <li id="http"><i class="material-icons left">http</i></li>
    <li id="https"><i class="material-icons left">https</i></li>
    <li id="image"><i class="material-icons left">image</i></li>
    <li id="image_aspect_ratio"><i class="material-icons left">image_aspect_ratio</i></li>
    <li id="import_contacts"><i class="material-icons left">import_contacts</i></li>
    <li id="import_export"><i class="material-icons left">import_export</i></li>
    <li id="important_devices"><i class="material-icons left">important_devices</i></li>
    <li id="inbox"><i class="material-icons left">inbox</i></li>
    <li id="indeterminate_check_box"><i class="material-icons left">indeterminate_check_box</i></li>
    <li id="info"><i class="material-icons left">info</i></li>
    <li id="info_outline"><i class="material-icons left">info_outline</i></li>
    <li id="input"><i class="material-icons left">input</i></li>
    <li id="insert_chart"><i class="material-icons left">insert_chart</i></li>
    <li id="insert_comment"><i class="material-icons left">insert_comment</i></li>
    <li id="insert_drive_file"><i class="material-icons left">insert_drive_file</i></li>
    <li id="insert_emoticon"><i class="material-icons left">insert_emoticon</i></li>
    <li id="insert_invitation"><i class="material-icons left">insert_invitation</i></li>
    <li id="insert_link"><i class="material-icons left">insert_link</i></li>
    <li id="insert_photo"><i class="material-icons left">insert_photo</i></li>
    <li id="invert_colors"><i class="material-icons left">invert_colors</i></li>
    <li id="invert_colors_off"><i class="material-icons left">invert_colors_off</i></li>
    <li id="iso"><i class="material-icons left">iso</i></li>
    <li id="keyboard"><i class="material-icons left">keyboard</i></li>
    <li id="keyboard_arrow_down"><i class="material-icons left">keyboard_arrow_down</i></li>
    <li id="keyboard_arrow_left"><i class="material-icons left">keyboard_arrow_left</i></li>
    <li id="keyboard_arrow_right"><i class="material-icons left">keyboard_arrow_right</i></li>
    <li id="keyboard_arrow_up"><i class="material-icons left">keyboard_arrow_up</i></li>
    <li id="keyboard_backspace"><i class="material-icons left">keyboard_backspace</i></li>
    <li id="keyboard_capslock"><i class="material-icons left">keyboard_capslock</i></li>
    <li id="keyboard_hide"><i class="material-icons left">keyboard_hide</i></li>
    <li id="keyboard_return"><i class="material-icons left">keyboard_return</i></li>
    <li id="keyboard_tab"><i class="material-icons left">keyboard_tab</i></li>
    <li id="keyboard_voice"><i class="material-icons left">keyboard_voice</i></li>
    <li id="kitchen"><i class="material-icons left">kitchen</i></li>
    <li id="label"><i class="material-icons left">label</i></li>
    <li id="label_outline"><i class="material-icons left">label_outline</i></li>
    <li id="landscape"><i class="material-icons left">landscape</i></li>
    <li id="language"><i class="material-icons left">language</i></li>
    <li id="laptop"><i class="material-icons left">laptop</i></li>
    <li id="laptop_chromebook"><i class="material-icons left">laptop_chromebook</i></li>
    <li id="laptop_mac"><i class="material-icons left">laptop_mac</i></li>
    <li id="laptop_windows"><i class="material-icons left">laptop_windows</i></li>
    <li id="last_page"><i class="material-icons left">last_page</i></li>
    <li id="launch"><i class="material-icons left">launch</i></li>
    <li id="layers"><i class="material-icons left">layers</i></li>
    <li id="layers_clear"><i class="material-icons left">layers_clear</i></li>
    <li id="leak_add"><i class="material-icons left">leak_add</i></li>
    <li id="leak_remove"><i class="material-icons left">leak_remove</i></li>
    <li id="lens"><i class="material-icons left">lens</i></li>
    <li id="library_add"><i class="material-icons left">library_add</i></li>
    <li id="library_books"><i class="material-icons left">library_books</i></li>
    <li id="library_music"><i class="material-icons left">library_music</i></li>
    <li id="lightbulb_outline"><i class="material-icons left">lightbulb_outline</i></li>
    <li id="line_style"><i class="material-icons left">line_style</i></li>
    <li id="line_weight"><i class="material-icons left">line_weight</i></li>
    <li id="linear_scale"><i class="material-icons left">linear_scale</i></li>
    <li id="link"><i class="material-icons left">link</i></li>
    <li id="linked_camera"><i class="material-icons left">linked_camera</i></li>
    <li id="list"><i class="material-icons left">list</i></li>
    <li id="live_help"><i class="material-icons left">live_help</i></li>
    <li id="live_tv"><i class="material-icons left">live_tv</i></li>
    <li id="local_activity"><i class="material-icons left">local_activity</i></li>
    <li id="local_airport"><i class="material-icons left">local_airport</i></li>
    <li id="local_atm"><i class="material-icons left">local_atm</i></li>
    <li id="local_bar"><i class="material-icons left">local_bar</i></li>
    <li id="local_cafe"><i class="material-icons left">local_cafe</i></li>
    <li id="local_car_wash"><i class="material-icons left">local_car_wash</i></li>
    <li id="local_convenience_store"><i class="material-icons left">local_convenience_store</i></li>
    <li id="local_dining"><i class="material-icons left">local_dining</i></li>
    <li id="local_drink"><i class="material-icons left">local_drink</i></li>
    <li id="local_florist"><i class="material-icons left">local_florist</i></li>
    <li id="local_gas_station"><i class="material-icons left">local_gas_station</i></li>
    <li id="local_grocery_store"><i class="material-icons left">local_grocery_store</i></li>
    <li id="local_hospital"><i class="material-icons left">local_hospital</i></li>
    <li id="local_hotel"><i class="material-icons left">local_hotel</i></li>
    <li id="local_laundry_service"><i class="material-icons left">local_laundry_service</i></li>
    <li id="local_library"><i class="material-icons left">local_library</i></li>
    <li id="local_mall"><i class="material-icons left">local_mall</i></li>
    <li id="local_movies"><i class="material-icons left">local_movies</i></li>
    <li id="local_offer"><i class="material-icons left">local_offer</i></li>
    <li id="local_parking"><i class="material-icons left">local_parking</i></li>
    <li id="local_pharmacy"><i class="material-icons left">local_pharmacy</i></li>
    <li id="local_phone"><i class="material-icons left">local_phone</i></li>
    <li id="local_pizza"><i class="material-icons left">local_pizza</i></li>
    <li id="local_play"><i class="material-icons left">local_play</i></li>
    <li id="local_post_office"><i class="material-icons left">local_post_office</i></li>
    <li id="local_printshop"><i class="material-icons left">local_printshop</i></li>
    <li id="local_see"><i class="material-icons left">local_see</i></li>
    <li id="local_shipping"><i class="material-icons left">local_shipping</i></li>
    <li id="local_taxi"><i class="material-icons left">local_taxi</i></li>
    <li id="location_city"><i class="material-icons left">location_city</i></li>
    <li id="location_disabled"><i class="material-icons left">location_disabled</i></li>
    <li id="location_off"><i class="material-icons left">location_off</i></li>
    <li id="location_on"><i class="material-icons left">location_on</i></li>
    <li id="location_searching"><i class="material-icons left">location_searching</i></li>
    <li id="lock"><i class="material-icons left">lock</i></li>
    <li id="lock_open"><i class="material-icons left">lock_open</i></li>
    <li id="lock_outline"><i class="material-icons left">lock_outline</i></li>
    <li id="looks"><i class="material-icons left">looks</i></li>
    <li id="looks_3"><i class="material-icons left">looks_3</i></li>
    <li id="looks_4"><i class="material-icons left">looks_4</i></li>
    <li id="looks_5"><i class="material-icons left">looks_5</i></li>
    <li id="looks_6"><i class="material-icons left">looks_6</i></li>
    <li id="looks_one"><i class="material-icons left">looks_one</i></li>
    <li id="looks_two"><i class="material-icons left">looks_two</i></li>
    <li id="loop"><i class="material-icons left">loop</i></li>
    <li id="loupe"><i class="material-icons left">loupe</i></li>
    <li id="low_priority"><i class="material-icons left">low_priority</i></li>
    <li id="loyalty"><i class="material-icons left">loyalty</i></li>
    <li id="mail"><i class="material-icons left">mail</i></li>
    <li id="mail_outline"><i class="material-icons left">mail_outline</i></li>
    <li id="map"><i class="material-icons left">map</i></li>
    <li id="markunread"><i class="material-icons left">markunread</i></li>
    <li id="markunread_mailbox"><i class="material-icons left">markunread_mailbox</i></li>
    <li id="memory"><i class="material-icons left">memory</i></li>
    <li id="menu"><i class="material-icons left">menu</i></li>
    <li id="merge_type"><i class="material-icons left">merge_type</i></li>
    <li id="message"><i class="material-icons left">message</i></li>
    <li id="mic"><i class="material-icons left">mic</i></li>
    <li id="mic_none"><i class="material-icons left">mic_none</i></li>
    <li id="mic_off"><i class="material-icons left">mic_off</i></li>
    <li id="mms"><i class="material-icons left">mms</i></li>
    <li id="mode_comment"><i class="material-icons left">mode_comment</i></li>
    <li id="mode_edit"><i class="material-icons left">mode_edit</i></li>
    <li id="monetization_on"><i class="material-icons left">monetization_on</i></li>
    <li id="money_off"><i class="material-icons left">money_off</i></li>
    <li id="monochrome_photos"><i class="material-icons left">monochrome_photos</i></li>
    <li id="mood"><i class="material-icons left">mood</i></li>
    <li id="mood_bad"><i class="material-icons left">mood_bad</i></li>
    <li id="more"><i class="material-icons left">more</i></li>
    <li id="more_horiz"><i class="material-icons left">more_horiz</i></li>
    <li id="more_vert"><i class="material-icons left">more_vert</i></li>
    <li id="motorcycle"><i class="material-icons left">motorcycle</i></li>
    <li id="mouse"><i class="material-icons left">mouse</i></li>
    <li id="move_to_inbox"><i class="material-icons left">move_to_inbox</i></li>
    <li id="movie"><i class="material-icons left">movie</i></li>
    <li id="movie_creation"><i class="material-icons left">movie_creation</i></li>
    <li id="movie_filter"><i class="material-icons left">movie_filter</i></li>
    <li id="multiline_chart"><i class="material-icons left">multiline_chart</i></li>
    <li id="music_note"><i class="material-icons left">music_note</i></li>
    <li id="music_video"><i class="material-icons left">music_video</i></li>
    <li id="my_location"><i class="material-icons left">my_location</i></li>
    <li id="nature"><i class="material-icons left">nature</i></li>
    <li id="nature_people"><i class="material-icons left">nature_people</i></li>
    <li id="navigate_before"><i class="material-icons left">navigate_before</i></li>
    <li id="navigate_next"><i class="material-icons left">navigate_next</i></li>
    <li id="navigation"><i class="material-icons left">navigation</i></li>
    <li id="near_me"><i class="material-icons left">near_me</i></li>
    <li id="network_cell"><i class="material-icons left">network_cell</i></li>
    <li id="network_check"><i class="material-icons left">network_check</i></li>
    <li id="network_locked"><i class="material-icons left">network_locked</i></li>
    <li id="network_wifi"><i class="material-icons left">network_wifi</i></li>
    <li id="new_releases"><i class="material-icons left">new_releases</i></li>
    <li id="next_week"><i class="material-icons left">next_week</i></li>
    <li id="nfc"><i class="material-icons left">nfc</i></li>
    <li id="no_encryption"><i class="material-icons left">no_encryption</i></li>
    <li id="no_sim"><i class="material-icons left">no_sim</i></li>
    <li id="not_interested"><i class="material-icons left">not_interested</i></li>
    <li id="note"><i class="material-icons left">note</i></li>
    <li id="note_add"><i class="material-icons left">note_add</i></li>
    <li id="notifications"><i class="material-icons left">notifications</i></li>
    <li id="notifications_active"><i class="material-icons left">notifications_active</i></li>
    <li id="notifications_none"><i class="material-icons left">notifications_none</i></li>
    <li id="notifications_off"><i class="material-icons left">notifications_off</i></li>
    <li id="notifications_paused"><i class="material-icons left">notifications_paused</i></li>
    <li id="offline_pin"><i class="material-icons left">offline_pin</i></li>
    <li id="ondemand_video"><i class="material-icons left">ondemand_video</i></li>
    <li id="opacity"><i class="material-icons left">opacity</i></li>
    <li id="open_in_browser"><i class="material-icons left">open_in_browser</i></li>
    <li id="open_in_new"><i class="material-icons left">open_in_new</i></li>
    <li id="open_with"><i class="material-icons left">open_with</i></li>
    <li id="pages"><i class="material-icons left">pages</i></li>
    <li id="pageview"><i class="material-icons left">pageview</i></li>
    <li id="palette"><i class="material-icons left">palette</i></li>
    <li id="pan_tool"><i class="material-icons left">pan_tool</i></li>
    <li id="panorama"><i class="material-icons left">panorama</i></li>
    <li id="panorama_fish_eye"><i class="material-icons left">panorama_fish_eye</i></li>
    <li id="panorama_horizontal"><i class="material-icons left">panorama_horizontal</i></li>
    <li id="panorama_vertical"><i class="material-icons left">panorama_vertical</i></li>
    <li id="panorama_wide_angle"><i class="material-icons left">panorama_wide_angle</i></li>
    <li id="party_mode"><i class="material-icons left">party_mode</i></li>
    <li id="pause"><i class="material-icons left">pause</i></li>
    <li id="pause_circle_filled"><i class="material-icons left">pause_circle_filled</i></li>
    <li id="pause_circle_outline"><i class="material-icons left">pause_circle_outline</i></li>
    <li id="payment"><i class="material-icons left">payment</i></li>
    <li id="people"><i class="material-icons left">people</i></li>
    <li id="people_outline"><i class="material-icons left">people_outline</i></li>
    <li id="perm_camera_mic"><i class="material-icons left">perm_camera_mic</i></li>
    <li id="perm_contact_calendar"><i class="material-icons left">perm_contact_calendar</i></li>
    <li id="perm_data_setting"><i class="material-icons left">perm_data_setting</i></li>
    <li id="perm_device_information"><i class="material-icons left">perm_device_information</i></li>
    <li id="perm_identity"><i class="material-icons left">perm_identity</i></li>
    <li id="perm_media"><i class="material-icons left">perm_media</i></li>
    <li id="perm_phone_msg"><i class="material-icons left">perm_phone_msg</i></li>
    <li id="perm_scan_wifi"><i class="material-icons left">perm_scan_wifi</i></li>
    <li id="person"><i class="material-icons left">person</i></li>
    <li id="person_add"><i class="material-icons left">person_add</i></li>
    <li id="person_outline"><i class="material-icons left">person_outline</i></li>
    <li id="person_pin"><i class="material-icons left">person_pin</i></li>
    <li id="person_pin_circle"><i class="material-icons left">person_pin_circle</i></li>
    <li id="personal_video"><i class="material-icons left">personal_video</i></li>
    <li id="pets"><i class="material-icons left">pets</i></li>
    <li id="phone"><i class="material-icons left">phone</i></li>
    <li id="phone_android"><i class="material-icons left">phone_android</i></li>
    <li id="phone_bluetooth_speaker"><i class="material-icons left">phone_bluetooth_speaker</i></li>
    <li id="phone_forwarded"><i class="material-icons left">phone_forwarded</i></li>
    <li id="phone_in_talk"><i class="material-icons left">phone_in_talk</i></li>
    <li id="phone_iphone"><i class="material-icons left">phone_iphone</i></li>
    <li id="phone_locked"><i class="material-icons left">phone_locked</i></li>
    <li id="phone_missed"><i class="material-icons left">phone_missed</i></li>
    <li id="phone_paused"><i class="material-icons left">phone_paused</i></li>
    <li id="phonelink"><i class="material-icons left">phonelink</i></li>
    <li id="phonelink_erase"><i class="material-icons left">phonelink_erase</i></li>
    <li id="phonelink_lock"><i class="material-icons left">phonelink_lock</i></li>
    <li id="phonelink_off"><i class="material-icons left">phonelink_off</i></li>
    <li id="phonelink_ring"><i class="material-icons left">phonelink_ring</i></li>
    <li id="phonelink_setup"><i class="material-icons left">phonelink_setup</i></li>
    <li id="photo"><i class="material-icons left">photo</i></li>
    <li id="photo_album"><i class="material-icons left">photo_album</i></li>
    <li id="photo_camera"><i class="material-icons left">photo_camera</i></li>
    <li id="photo_filter"><i class="material-icons left">photo_filter</i></li>
    <li id="photo_library"><i class="material-icons left">photo_library</i></li>
    <li id="photo_size_select_actual"><i class="material-icons left">photo_size_select_actual</i></li>
    <li id="photo_size_select_large"><i class="material-icons left">photo_size_select_large</i></li>
    <li id="photo_size_select_small"><i class="material-icons left">photo_size_select_small</i></li>
    <li id="picture_as_pdf"><i class="material-icons left">picture_as_pdf</i></li>
    <li id="picture_in_picture"><i class="material-icons left">picture_in_picture</i></li>
    <li id="picture_in_picture_alt"><i class="material-icons left">picture_in_picture_alt</i></li>
    <li id="pie_chart"><i class="material-icons left">pie_chart</i></li>
    <li id="pie_chart_outlined"><i class="material-icons left">pie_chart_outlined</i></li>
    <li id="pin_drop"><i class="material-icons left">pin_drop</i></li>
    <li id="place"><i class="material-icons left">place</i></li>
    <li id="play_arrow"><i class="material-icons left">play_arrow</i></li>
    <li id="play_circle_filled"><i class="material-icons left">play_circle_filled</i></li>
    <li id="play_circle_outline"><i class="material-icons left">play_circle_outline</i></li>
    <li id="play_for_work"><i class="material-icons left">play_for_work</i></li>
    <li id="playlist_add"><i class="material-icons left">playlist_add</i></li>
    <li id="playlist_add_check"><i class="material-icons left">playlist_add_check</i></li>
    <li id="playlist_play"><i class="material-icons left">playlist_play</i></li>
    <li id="plus_one"><i class="material-icons left">plus_one</i></li>
    <li id="poll"><i class="material-icons left">poll</i></li>
    <li id="polymer"><i class="material-icons left">polymer</i></li>
    <li id="pool"><i class="material-icons left">pool</i></li>
    <li id="portable_wifi_off"><i class="material-icons left">portable_wifi_off</i></li>
    <li id="portrait"><i class="material-icons left">portrait</i></li>
    <li id="power"><i class="material-icons left">power</i></li>
    <li id="power_input"><i class="material-icons left">power_input</i></li>
    <li id="power_settings_new"><i class="material-icons left">power_settings_new</i></li>
    <li id="pregnant_woman"><i class="material-icons left">pregnant_woman</i></li>
    <li id="present_to_all"><i class="material-icons left">present_to_all</i></li>
    <li id="print"><i class="material-icons left">print</i></li>
    <li id="priority_high"><i class="material-icons left">priority_high</i></li>
    <li id="public"><i class="material-icons left">public</i></li>
    <li id="publish"><i class="material-icons left">publish</i></li>
    <li id="query_builder"><i class="material-icons left">query_builder</i></li>
    <li id="question_answer"><i class="material-icons left">question_answer</i></li>
    <li id="queue"><i class="material-icons left">queue</i></li>
    <li id="queue_music"><i class="material-icons left">queue_music</i></li>
    <li id="queue_play_next"><i class="material-icons left">queue_play_next</i></li>
    <li id="radio"><i class="material-icons left">radio</i></li>
    <li id="radio_button_checked"><i class="material-icons left">radio_button_checked</i></li>
    <li id="radio_button_unchecked"><i class="material-icons left">radio_button_unchecked</i></li>
    <li id="rate_review"><i class="material-icons left">rate_review</i></li>
    <li id="receipt"><i class="material-icons left">receipt</i></li>
    <li id="recent_actors"><i class="material-icons left">recent_actors</i></li>
    <li id="record_voice_over"><i class="material-icons left">record_voice_over</i></li>
    <li id="redeem"><i class="material-icons left">redeem</i></li>
    <li id="redo"><i class="material-icons left">redo</i></li>
    <li id="refresh"><i class="material-icons left">refresh</i></li>
    <li id="remove"><i class="material-icons left">remove</i></li>
    <li id="remove_circle"><i class="material-icons left">remove_circle</i></li>
    <li id="remove_circle_outline"><i class="material-icons left">remove_circle_outline</i></li>
    <li id="remove_from_queue"><i class="material-icons left">remove_from_queue</i></li>
    <li id="remove_red_eye"><i class="material-icons left">remove_red_eye</i></li>
    <li id="remove_shopping_cart"><i class="material-icons left">remove_shopping_cart</i></li>
    <li id="reorder"><i class="material-icons left">reorder</i></li>
    <li id="repeat"><i class="material-icons left">repeat</i></li>
    <li id="repeat_one"><i class="material-icons left">repeat_one</i></li>
    <li id="replay"><i class="material-icons left">replay</i></li>
    <li id="replay_10"><i class="material-icons left">replay_10</i></li>
    <li id="replay_30"><i class="material-icons left">replay_30</i></li>
    <li id="replay_5"><i class="material-icons left">replay_5</i></li>
    <li id="reply"><i class="material-icons left">reply</i></li>
    <li id="reply_all"><i class="material-icons left">reply_all</i></li>
    <li id="report"><i class="material-icons left">report</i></li>
    <li id="report_problem"><i class="material-icons left">report_problem</i></li>
    <li id="restaurant"><i class="material-icons left">restaurant</i></li>
    <li id="restaurant_menu"><i class="material-icons left">restaurant_menu</i></li>
    <li id="restore"><i class="material-icons left">restore</i></li>
    <li id="restore_page"><i class="material-icons left">restore_page</i></li>
    <li id="ring_volume"><i class="material-icons left">ring_volume</i></li>
    <li id="room"><i class="material-icons left">room</i></li>
    <li id="room_service"><i class="material-icons left">room_service</i></li>
    <li id="rotate_90_degrees_ccw"><i class="material-icons left">rotate_90_degrees_ccw</i></li>
    <li id="rotate_left"><i class="material-icons left">rotate_left</i></li>
    <li id="rotate_right"><i class="material-icons left">rotate_right</i></li>
    <li id="rounded_corner"><i class="material-icons left">rounded_corner</i></li>
    <li id="router"><i class="material-icons left">router</i></li>
    <li id="rowing"><i class="material-icons left">rowing</i></li>
    <li id="rss_feed"><i class="material-icons left">rss_feed</i></li>
    <li id="rv_hookup"><i class="material-icons left">rv_hookup</i></li>
    <li id="satellite"><i class="material-icons left">satellite</i></li>
    <li id="save"><i class="material-icons left">save</i></li>
    <li id="scanner"><i class="material-icons left">scanner</i></li>
    <li id="schedule"><i class="material-icons left">schedule</i></li>
    <li id="school"><i class="material-icons left">school</i></li>
    <li id="screen_lock_landscape"><i class="material-icons left">screen_lock_landscape</i></li>
    <li id="screen_lock_portrait"><i class="material-icons left">screen_lock_portrait</i></li>
    <li id="screen_lock_rotation"><i class="material-icons left">screen_lock_rotation</i></li>
    <li id="screen_rotation"><i class="material-icons left">screen_rotation</i></li>
    <li id="screen_share"><i class="material-icons left">screen_share</i></li>
    <li id="sd_card"><i class="material-icons left">sd_card</i></li>
    <li id="sd_storage"><i class="material-icons left">sd_storage</i></li>
    <li id="search"><i class="material-icons left">search</i></li>
    <li id="security"><i class="material-icons left">security</i></li>
    <li id="select_all"><i class="material-icons left">select_all</i></li>
    <li id="send"><i class="material-icons left">send</i></li>
    <li id="sentiment_dissatisfied"><i class="material-icons left">sentiment_dissatisfied</i></li>
    <li id="sentiment_neutral"><i class="material-icons left">sentiment_neutral</i></li>
    <li id="sentiment_satisfied"><i class="material-icons left">sentiment_satisfied</i></li>
    <li id="sentiment_very_dissatisfied"><i class="material-icons left">sentiment_very_dissatisfied</i></li>
    <li id="sentiment_very_satisfied"><i class="material-icons left">sentiment_very_satisfied</i></li>
    <li id="settings"><i class="material-icons left">settings</i></li>
    <li id="settings_applications"><i class="material-icons left">settings_applications</i></li>
    <li id="settings_backup_restore"><i class="material-icons left">settings_backup_restore</i></li>
    <li id="settings_bluetooth"><i class="material-icons left">settings_bluetooth</i></li>
    <li id="settings_brightness"><i class="material-icons left">settings_brightness</i></li>
    <li id="settings_cell"><i class="material-icons left">settings_cell</i></li>
    <li id="settings_ethernet"><i class="material-icons left">settings_ethernet</i></li>
    <li id="settings_input_antenna"><i class="material-icons left">settings_input_antenna</i></li>
    <li id="settings_input_component"><i class="material-icons left">settings_input_component</i></li>
    <li id="settings_input_composite"><i class="material-icons left">settings_input_composite</i></li>
    <li id="settings_input_hdmi"><i class="material-icons left">settings_input_hdmi</i></li>
    <li id="settings_input_svideo"><i class="material-icons left">settings_input_svideo</i></li>
    <li id="settings_overscan"><i class="material-icons left">settings_overscan</i></li>
    <li id="settings_phone"><i class="material-icons left">settings_phone</i></li>
    <li id="settings_power"><i class="material-icons left">settings_power</i></li>
    <li id="settings_remote"><i class="material-icons left">settings_remote</i></li>
    <li id="settings_system_daydream"><i class="material-icons left">settings_system_daydream</i></li>
    <li id="settings_voice"><i class="material-icons left">settings_voice</i></li>
    <li id="share"><i class="material-icons left">share</i></li>
    <li id="shop"><i class="material-icons left">shop</i></li>
    <li id="shop_two"><i class="material-icons left">shop_two</i></li>
    <li id="shopping_basket"><i class="material-icons left">shopping_basket</i></li>
    <li id="shopping_cart"><i class="material-icons left">shopping_cart</i></li>
    <li id="short_text"><i class="material-icons left">short_text</i></li>
    <li id="show_chart"><i class="material-icons left">show_chart</i></li>
    <li id="shuffle"><i class="material-icons left">shuffle</i></li>
    <li id="signal_cellular_4_bar"><i class="material-icons left">signal_cellular_4_bar</i></li>
    <li id="signal_cellular_connected_no_internet_4_bar">
      <i class="material-icons left">signal_cellular_connected_no_internet_4_bar</i></li>
    <li id="signal_cellular_no_sim"><i class="material-icons left">signal_cellular_no_sim</i></li>
    <li id="signal_cellular_null"><i class="material-icons left">signal_cellular_null</i></li>
    <li id="signal_cellular_off"><i class="material-icons left">signal_cellular_off</i></li>
    <li id="signal_wifi_4_bar"><i class="material-icons left">signal_wifi_4_bar</i></li>
    <li id="signal_wifi_4_bar_lock"><i class="material-icons left">signal_wifi_4_bar_lock</i></li>
    <li id="signal_wifi_off"><i class="material-icons left">signal_wifi_off</i></li>
    <li id="sim_card"><i class="material-icons left">sim_card</i></li>
    <li id="sim_card_alert"><i class="material-icons left">sim_card_alert</i></li>
    <li id="skip_next"><i class="material-icons left">skip_next</i></li>
    <li id="skip_previous"><i class="material-icons left">skip_previous</i></li>
    <li id="slideshow"><i class="material-icons left">slideshow</i></li>
    <li id="slow_motion_video"><i class="material-icons left">slow_motion_video</i></li>
    <li id="smartphone"><i class="material-icons left">smartphone</i></li>
    <li id="smoke_free"><i class="material-icons left">smoke_free</i></li>
    <li id="smoking_rooms"><i class="material-icons left">smoking_rooms</i></li>
    <li id="sms"><i class="material-icons left">sms</i></li>
    <li id="sms_failed"><i class="material-icons left">sms_failed</i></li>
    <li id="snooze"><i class="material-icons left">snooze</i></li>
    <li id="sort"><i class="material-icons left">sort</i></li>
    <li id="sort_by_alpha"><i class="material-icons left">sort_by_alpha</i></li>
    <li id="spa"><i class="material-icons left">spa</i></li>
    <li id="space_bar"><i class="material-icons left">space_bar</i></li>
    <li id="speaker"><i class="material-icons left">speaker</i></li>
    <li id="speaker_group"><i class="material-icons left">speaker_group</i></li>
    <li id="speaker_notes"><i class="material-icons left">speaker_notes</i></li>
    <li id="speaker_notes_off"><i class="material-icons left">speaker_notes_off</i></li>
    <li id="speaker_phone"><i class="material-icons left">speaker_phone</i></li>
    <li id="spellcheck"><i class="material-icons left">spellcheck</i></li>
    <li id="star"><i class="material-icons left">star</i></li>
    <li id="star_border"><i class="material-icons left">star_border</i></li>
    <li id="star_half"><i class="material-icons left">star_half</i></li>
    <li id="stars"><i class="material-icons left">stars</i></li>
    <li id="stay_current_landscape"><i class="material-icons left">stay_current_landscape</i></li>
    <li id="stay_current_portrait"><i class="material-icons left">stay_current_portrait</i></li>
    <li id="stay_primary_landscape"><i class="material-icons left">stay_primary_landscape</i></li>
    <li id="stay_primary_portrait"><i class="material-icons left">stay_primary_portrait</i></li>
    <li id="stop"><i class="material-icons left">stop</i></li>
    <li id="stop_screen_share"><i class="material-icons left">stop_screen_share</i></li>
    <li id="storage"><i class="material-icons left">storage</i></li>
    <li id="store"><i class="material-icons left">store</i></li>
    <li id="store_mall_directory"><i class="material-icons left">store_mall_directory</i></li>
    <li id="straighten"><i class="material-icons left">straighten</i></li>
    <li id="streetview"><i class="material-icons left">streetview</i></li>
    <li id="strikethrough_s"><i class="material-icons left">strikethrough_s</i></li>
    <li id="style"><i class="material-icons left">style</i></li>
    <li id="subdirectory_arrow_left"><i class="material-icons left">subdirectory_arrow_left</i></li>
    <li id="subdirectory_arrow_right"><i class="material-icons left">subdirectory_arrow_right</i></li>
    <li id="subject"><i class="material-icons left">subject</i></li>
    <li id="subscriptions"><i class="material-icons left">subscriptions</i></li>
    <li id="subtitles"><i class="material-icons left">subtitles</i></li>
    <li id="subway"><i class="material-icons left">subway</i></li>
    <li id="supervisor_account"><i class="material-icons left">supervisor_account</i></li>
    <li id="surround_sound"><i class="material-icons left">surround_sound</i></li>
    <li id="swap_calls"><i class="material-icons left">swap_calls</i></li>
    <li id="swap_horiz"><i class="material-icons left">swap_horiz</i></li>
    <li id="swap_vert"><i class="material-icons left">swap_vert</i></li>
    <li id="swap_vertical_circle"><i class="material-icons left">swap_vertical_circle</i></li>
    <li id="switch_camera"><i class="material-icons left">switch_camera</i></li>
    <li id="switch_video"><i class="material-icons left">switch_video</i></li>
    <li id="sync"><i class="material-icons left">sync</i></li>
    <li id="sync_disabled"><i class="material-icons left">sync_disabled</i></li>
    <li id="sync_problem"><i class="material-icons left">sync_problem</i></li>
    <li id="system_update"><i class="material-icons left">system_update</i></li>
    <li id="system_update_alt"><i class="material-icons left">system_update_alt</i></li>
    <li id="tab"><i class="material-icons left">tab</i></li>
    <li id="tab_unselected"><i class="material-icons left">tab_unselected</i></li>
    <li id="tablet"><i class="material-icons left">tablet</i></li>
    <li id="tablet_android"><i class="material-icons left">tablet_android</i></li>
    <li id="tablet_mac"><i class="material-icons left">tablet_mac</i></li>
    <li id="tag_faces"><i class="material-icons left">tag_faces</i></li>
    <li id="tap_and_play"><i class="material-icons left">tap_and_play</i></li>
    <li id="terrain"><i class="material-icons left">terrain</i></li>
    <li id="text_fields"><i class="material-icons left">text_fields</i></li>
    <li id="text_format"><i class="material-icons left">text_format</i></li>
    <li id="textsms"><i class="material-icons left">textsms</i></li>
    <li id="texture"><i class="material-icons left">texture</i></li>
    <li id="theaters"><i class="material-icons left">theaters</i></li>
    <li id="thumb_down"><i class="material-icons left">thumb_down</i></li>
    <li id="thumb_up"><i class="material-icons left">thumb_up</i></li>
    <li id="thumbs_up_down"><i class="material-icons left">thumbs_up_down</i></li>
    <li id="time_to_leave"><i class="material-icons left">time_to_leave</i></li>
    <li id="timelapse"><i class="material-icons left">timelapse</i></li>
    <li id="timeline"><i class="material-icons left">timeline</i></li>
    <li id="timer"><i class="material-icons left">timer</i></li>
    <li id="timer_10"><i class="material-icons left">timer_10</i></li>
    <li id="timer_3"><i class="material-icons left">timer_3</i></li>
    <li id="timer_off"><i class="material-icons left">timer_off</i></li>
    <li id="title"><i class="material-icons left">title</i></li>
    <li id="toc"><i class="material-icons left">toc</i></li>
    <li id="today"><i class="material-icons left">today</i></li>
    <li id="toll"><i class="material-icons left">toll</i></li>
    <li id="tonality"><i class="material-icons left">tonality</i></li>
    <li id="touch_app"><i class="material-icons left">touch_app</i></li>
    <li id="toys"><i class="material-icons left">toys</i></li>
    <li id="track_changes"><i class="material-icons left">track_changes</i></li>
    <li id="traffic"><i class="material-icons left">traffic</i></li>
    <li id="train"><i class="material-icons left">train</i></li>
    <li id="tram"><i class="material-icons left">tram</i></li>
    <li id="transfer_within_a_station"><i class="material-icons left">transfer_within_a_station</i></li>
    <li id="transform"><i class="material-icons left">transform</i></li>
    <li id="translate"><i class="material-icons left">translate</i></li>
    <li id="trending_down"><i class="material-icons left">trending_down</i></li>
    <li id="trending_flat"><i class="material-icons left">trending_flat</i></li>
    <li id="trending_up"><i class="material-icons left">trending_up</i></li>
    <li id="tune"><i class="material-icons left">tune</i></li>
    <li id="turned_in"><i class="material-icons left">turned_in</i></li>
    <li id="turned_in_not"><i class="material-icons left">turned_in_not</i></li>
    <li id="tv"><i class="material-icons left">tv</i></li>
    <li id="unarchive"><i class="material-icons left">unarchive</i></li>
    <li id="undo"><i class="material-icons left">undo</i></li>
    <li id="unfold_less"><i class="material-icons left">unfold_less</i></li>
    <li id="unfold_more"><i class="material-icons left">unfold_more</i></li>
    <li id="update"><i class="material-icons left">update</i></li>
    <li id="usb"><i class="material-icons left">usb</i></li>
    <li id="verified_user"><i class="material-icons left">verified_user</i></li>
    <li id="vertical_align_bottom"><i class="material-icons left">vertical_align_bottom</i></li>
    <li id="vertical_align_center"><i class="material-icons left">vertical_align_center</i></li>
    <li id="vertical_align_top"><i class="material-icons left">vertical_align_top</i></li>
    <li id="vibration"><i class="material-icons left">vibration</i></li>
    <li id="video_call"><i class="material-icons left">video_call</i></li>
    <li id="video_label"><i class="material-icons left">video_label</i></li>
    <li id="video_library"><i class="material-icons left">video_library</i></li>
    <li id="videocam"><i class="material-icons left">videocam</i></li>
    <li id="videocam_off"><i class="material-icons left">videocam_off</i></li>
    <li id="videogame_asset"><i class="material-icons left">videogame_asset</i></li>
    <li id="view_agenda"><i class="material-icons left">view_agenda</i></li>
    <li id="view_array"><i class="material-icons left">view_array</i></li>
    <li id="view_carousel"><i class="material-icons left">view_carousel</i></li>
    <li id="view_column"><i class="material-icons left">view_column</i></li>
    <li id="view_comfy"><i class="material-icons left">view_comfy</i></li>
    <li id="view_compact"><i class="material-icons left">view_compact</i></li>
    <li id="view_day"><i class="material-icons left">view_day</i></li>
    <li id="view_headline"><i class="material-icons left">view_headline</i></li>
    <li id="view_list"><i class="material-icons left">view_list</i></li>
    <li id="view_module"><i class="material-icons left">view_module</i></li>
    <li id="view_quilt"><i class="material-icons left">view_quilt</i></li>
    <li id="view_stream"><i class="material-icons left">view_stream</i></li>
    <li id="view_week"><i class="material-icons left">view_week</i></li>
    <li id="vignette"><i class="material-icons left">vignette</i></li>
    <li id="visibility"><i class="material-icons left">visibility</i></li>
    <li id="visibility_off"><i class="material-icons left">visibility_off</i></li>
    <li id="voice_chat"><i class="material-icons left">voice_chat</i></li>
    <li id="voicemail"><i class="material-icons left">voicemail</i></li>
    <li id="volume_down"><i class="material-icons left">volume_down</i></li>
    <li id="volume_mute"><i class="material-icons left">volume_mute</i></li>
    <li id="volume_off"><i class="material-icons left">volume_off</i></li>
    <li id="volume_up"><i class="material-icons left">volume_up</i></li>
    <li id="vpn_key"><i class="material-icons left">vpn_key</i></li>
    <li id="vpn_lock"><i class="material-icons left">vpn_lock</i></li>
    <li id="wallpaper"><i class="material-icons left">wallpaper</i></li>
    <li id="warning"><i class="material-icons left">warning</i></li>
    <li id="watch"><i class="material-icons left">watch</i></li>
    <li id="watch_later"><i class="material-icons left">watch_later</i></li>
    <li id="wb_auto"><i class="material-icons left">wb_auto</i></li>
    <li id="wb_cloudy"><i class="material-icons left">wb_cloudy</i></li>
    <li id="wb_incandescent"><i class="material-icons left">wb_incandescent</i></li>
    <li id="wb_iridescent"><i class="material-icons left">wb_iridescent</i></li>
    <li id="wb_sunny"><i class="material-icons left">wb_sunny</i></li>
    <li id="wc"><i class="material-icons left">wc</i></li>
    <li id="web"><i class="material-icons left">web</i></li>
    <li id="web_asset"><i class="material-icons left">web_asset</i></li>
    <li id="weekend"><i class="material-icons left">weekend</i></li>
    <li id="whatshot"><i class="material-icons left">whatshot</i></li>
    <li id="widgets"><i class="material-icons left">widgets</i></li>
    <li id="wifi"><i class="material-icons left">wifi</i></li>
    <li id="wifi_lock"><i class="material-icons left">wifi_lock</i></li>
    <li id="wifi_tethering"><i class="material-icons left">wifi_tethering</i></li>
    <li id="work"><i class="material-icons left">work</i></li>
    <li id="wrap_text"><i class="material-icons left">wrap_text</i></li>
    <li id="youtube_searched_for"><i class="material-icons left">youtube_searched_for</i></li>
    <li id="zoom_in"><i class="material-icons left">zoom_in</i></li>
    <li id="zoom_out"><i class="material-icons left">zoom_out</i></li>
    <li id="zoom_out_map"><i class="material-icons left">zoom_out_map</i></li>
  </ul>

</div>
