<%= form_for(estimate) do |f| %>
  <% if estimate.errors.any? %>
    <div id="error_explanation" class="card-panel red white-text">
      <h5><%= t('errors.template.header')  %>:</h5>

      <ul>
      <% estimate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="section">
  <%= render 'leads/lead_detail' %>

  <div class="card">
    <div class="card-content">
      <ul class="stepper horizontal stepper-head-only">
        <li class="step active">
          <div class="step-title waves-effect">Step 1</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Schedule</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Measurements</div>
        </li>
        <li class="step">
          <div class="step-title waves-effect">Products</div>
        </li>
      </ul>
      <div class="row">
        <form action="" method="get" accept-charset="utf-8">

          <div class="input-field col s12 m3">
            <input placeholder="" id="code" type="text" value="123098" class="validate" disabled="true">
            <label for="code">Code</label>
          </div>

          <div class="input-field col s12 m9">
            <input placeholder="" id="title" type="text" class="validate" autofocus>
            <label for="title">Title</label>
          </div>
          <div class="input-field col s12 m4">
            <i class="material-icons prefix">location_on</i>
            <input placeholder="" id="title" type="text" class="autocomplete autocomplete-location">
            <label for="location">Location</label>
          </div>
          <div class="input-field col s12 m8">
            <textarea name="description" class="materialize-textarea"></textarea>
            <label for="via">Description</label>
          </div>
          
          <div class="col s12 m4">
            <div class="input-field">
              <select class="select2 browser-default">
                <option value="square" disabled selected>Choose</option>
                <option value="square">Tim Robbinson</option>
                <option value="rectangle">Marta Francis</option>
                <option value="rombo">Mark Adams</option>
              </select>
              <label for="">Sales Person</label>
            </div>
          </div>

        </div>
      </form>
    </div>
  </div>
  <div class="col s12 pb-2 pr-0 pl-0">
    <a class="btn indigo waves-effect waves-light breadcrumbs-btn right ml-1" href="estimate-schedule.html">Next: Schedule <i class="material-icons right">arrow_forward</i></a>
  </div>
</div>
<% end %>
