<div class="row">
  <div class="col s6 m4">
    <span class="left width-100 pt-1">Product</span>
    <div class="input-field mt-0 mb-0 products-search-field-box">
      <a href="#add-product-modal" class="btn-add-product modal-trigger tooltipped" data-tooltip="New product"><i class="material-icons">add</i></a>
      <input placeholder="" id="title" type="text" class="autocomplete autocomplete-products mt-1">
    </div>
  </div>
  <div class="col s6 m2 calc-fields">
    <span class="left width-100 pt-1">Qty.</span>
    <input placeholder="" id="title" type="text" class="product-value qty" value="">
  </div>
  <div class="col s6 m2 calc-fields">
    <span class="left width-100 pt-1">Price Un.</span>
    <input placeholder="" id="title" type="text" class="product-value price" value="">
  </div>
  <div class="col s6 m2 calc-fields">
    <span class="left width-100 pt-1">Discount</span>
    <input placeholder="" id="title" type="text" class="product-value discount" value="">
  </div>
  <div class="col s6 m2 calc-fields">
    <span class="left  width-100 pt-1">Total</span>
    <input placeholder="" id="total_1" type="text" class="product-value total" disabled value="">
  </div>
</div>