<div class="row">
			<div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
			<div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
				<!-- Search for small screen-->
				<div class="container">
					<div class="row">
						<div class="col s10 m6 l6">
							<h5 class="breadcrumbs-title mt-0 mb-0">Estimate Measurements</h5>
							<ol class="breadcrumbs mb-0">
								<li class="breadcrumb-item"><a href="index.html">Home</a>
								</li>
								<li class="breadcrumb-item"><a href="#">Estimates</a>
								</li>
								<li class="breadcrumb-item"><a href="#">New</a>
								</li>
								<li class="breadcrumb-item active">Measurements
								</li>
							</ol>
						</div>
						<!-- <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right" href="lead-add.html"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">New Estimate</span></a> -->
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<div class="container">
					<div class="section">
						<div class="card-panel">
							<div class="row">
								<div class="col s5">
									<h6>Estime title</h6>
									<span>Estimate description that could be a little longer.</span>
								</div>
								<div class="col s5">
									<span style="width: 100%" class="left">Customer: <a href="customer-view.html">John Smith</a></span>
									<span style="width: 100%" class="left">Location: Paris, France</span>
									<span style="width: 100%" class="left">Category 1</span>
								</div>
								<div class="col s2">
									<span class="chip lighten-5 green green-text right mr-0">Status 1</span>
									<span style="width: 100%" class="right right-align">2020-02-02</span>
								</div>
							</div>
						</div>
						<div class="card">
							<div class="card-content">
								<ul class="stepper horizontal stepper-head-only">
									<li class="step">
										<div class="step-title waves-effect">Step 1</div>
									</li>
									<li class="step ">
										<div class="step-title waves-effect">Schedule</div>
									</li>
									<li class="step active">
										<div class="step-title waves-effect">Measurements</div>
									</li>
									<li class="step">
										<div class="step-title waves-effect">Products</div>
									</li>
								</ul>
								<div class="m-area-list row pl-1 pr-1">
									<div class="row m-area pt-1">
										<a href="#" class="btn-close-area"><i class="material-icons">close</i></a>
										<div class="m-area--info">
											<div class="input-field col s12 m6 l3">
												<input type="text" name="area_name" autofocus>
												<label for="area_name">Area name</label>
											</div>
											<div class="input-field col s12 m6 l3">
												<textarea name="area_description" class="materialize-textarea"></textarea>
												<label for="area_description">Description</label>
											</div>
										</div>
										<div class="m-area--measures">
											<div class="input-field col s12 m4 l2">
												<input type="text">
												<label for="">Width</label>
											</div>
											<div class="input-field col s12 m4 l2">
												<input type="text">
												<label for="">Height</label>
											</div>
											<div class="input-field col s12 m4 l2">
												<input type="text">
												<label for="">Length</label>
											</div>
										</div>
									</div>
								</div>
								<div class="row mt-1">
									<a href="#" class="btn btn-add-area"><i class="material-icons left">add</i> Add area</a>
								</div>
							</div>
						</div>
							<div class="col s12 pb-2 pr-0 pl-0">
								<a class="btn grey lighten-5 grey-text waves-effect waves-light breadcrumbs-btn left save" href="estimate-schedule.html"><i class="material-icons left">arrow_back</i> Back</a>
								<a class="btn indigo waves-effect waves-light breadcrumbs-btn right ml-1" href="estimate-products.html">Next: Products <i class="material-icons right">arrow_forward</i></a>
							</div>


					</div>
				</div>
				</div>
		</div>