<div class="row">
  <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
  <div class="breadcrumbs-dark pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0">Estimate Products</h5>
          <ol class="breadcrumbs mb-0">
            <li class="breadcrumb-item"><a href="index.html">Home</a>
            </li>
            <li class="breadcrumb-item"><a href="#">Estimates</a>
            </li>
            <li class="breadcrumb-item"><a href="#">New</a>
            </li>
            <li class="breadcrumb-item active">Products
            </li>
          </ol>
        </div>
      <!-- <div class="col s2 m6 l6"><a class="btn waves-effect waves-light breadcrumbs-btn right" href="lead-add.html"><i class="material-icons hide-on-med-and-up">add</i><span class="hide-on-small-only">New Estimate</span></a> -->
      </div>
    </div>
  </div>
  <div id="react-component"></div>
</div>

<%= content_tag :div,
  id: "estimate_data",
  data: @estimate.to_json do %>
<% end %>

<%= javascript_pack_tag 'estimate/ProductComponent/index.js' %>

<%= content_for :scripts do %>
  <script>
    $(document).ready(function(){
      

      function runAutocomplete(){
        $('input.autocomplete.autocomplete-products').autocomplete({
          data: {
            "Product X": null,
            "Product Y": null,
            "Product a": null,
            "Product b": null,
            "Product c": null,
            "Product d": null,
            "Product Z": null

          }
        });
      }
      runAutocomplete();
    })
  </script>
<% end %>