.contacts-row{
	padding: 10px;

	@media screen and (max-width: 600px) {
		.contacts-wrapper{
			display: block !important;
			float: left;
			width: 100%;
		}
		.contacts-type-box{
			width: 100% !important;
			margin-bottom: 20px;
			.contacts-list{
				width: 100%;
			}
		}
	}

	.contacts-wrapper{
		display: flex;
		width: 100%;
		margin-bottom: 10px;
		justify-content: flex-start;
	}
	
	.contacts-type-box{
		float: left;
		display: inline-flex;
		border-radius: 8px;
		background: #fff;
		box-shadow: 0 3px 7px rgba(black, .4);
		flex-direction: column;
		width: calc((100% - 30px) / 3);
		justify-content: flex-start;
		align-items: center;
		text-align: center;
		overflow: hidden;
		position: relative;
		height: fit-content;
		max-height: 240px;
		margin-right: 15px;

	&:last-of-type{
		margin-right: 0px;
	}		
		
		.contact-type--info{
			margin-bottom: 10px;
			.contact-icon{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 80px;
			overflow: hidden;
			height: 40px;
			margin-top: 10px;
			border-radius: 5px;
			
			i.material-icons{
				font-size: 40px;
			}
		}
	}
	
	.contacts-list{
		max-height: 150px;
		height: 100%;
		width: 100%;
		overflow-y: auto;
		transition: all .3s ease-in-out;
		&.active{
			min-height: 64px;
			overflow-y: unset !important; 
		}
	}
	
	.contact{
		width: 100%;
		float: left;
		padding: 10px;
		position: relative;
		text-align: left;
		background: #fff;
		overflow: hidden;
		transition: all .3s ease-in-out;
		&.active{
			overflow: unset !important;
			position: absolute;
			top: 0px;
			left: 0px;
		}
		&:nth-of-type(2n+1){
			background: #f7f7f7;
		}
		
		
		.contact-info{
			span{
				float: left;
				width: 100%;
				padding-right: 20px;
			}
			.contact-title{
				font-weight: 600;
			}
		}
		.btn-more-info, .btn-less-info{
			position: absolute;
			bottom: 5px;
			right: 5px;
			background: #FF5252;
			color: #fff;
			height: 32px;
			width: 32px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			border-radius: 50%;
			line-height: 35px;
			z-index: 1;
			transition: all .3s ease-in-out;
			box-shadow: 0 0 5px rgba(black, .3);
			
			i.material-icons{
				font-size: 20px;
			}
			
			&.active{
				transform: rotate(180deg);
			}
		}
		
		.btn-less-info{
			top: 5px;
			bottom: unset;
			background: #fff;
			color: #666;
		}

		.more-info{
			position: absolute;
			width: 100%;
			height: calc(100% + 93px);
			top: 100%;
			left: 0px;
			background: #eef0f4;
			padding: 10px;
			z-index: 10;
			transition: all .2s ease-in-out;
			opacity: 0;
			max-height: 240px;
			&.active{
				top: 0px;
				visibility: visible;
				box-shadow: 0 -3px 7px rgba(black, .4);
				overflow-y: auto; 
				opacity: 1;
			}

			.map{
				width: calc(100% + 20px);
				margin-left: -10px;
				margin-top: -10px;
				margin-bottom: 5px;
				height: 90px;
				overflow: hidden;
				
				img{
					width: 100%;
				}
			}
			
			
			
			
			.btn-navigate{
				position: absolute;
				bottom: 5px;
				left: 5px;
				width: calc(100% - 10px);
				z-index: 10;
				display: none;
				@media screen and (max-width: 600px ) {
					display: block;
				}

			}
			
		}
	}
}
}

.note{
	width: 100%;
	float: left;
	background: #ffffac;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid rgba(black, .1);
	position: relative;

	&:hover{
		.btn-delete-note{
			display: inline-flex !important; 
		}
	}

	.btn-delete-note{
		position: absolute;
		top: 5px;
		right:  5px;
		height: 30px;
		width: 30px;
		justify-content: center;
		align-items: center;
		color: #666;
		border-radius: 50%; 
		display: none;


		&:hover{
			background: rgba(black, .1);
		}
	}
}

.worker-tasks{
	.collection-item.avatar{
		&:hover{
			background: #f6f6f6;
		}
		min-height: auto;
		padding-top: 0px;
		padding-bottom: 0px;
		a{
			display: block;
			padding: 10px 0;
		}
	}
}