.contacts-row{
	padding: 10px;

	@media screen and (max-width: 600px) {
		.contacts-wrapper{
			display: block !important;
			float: left;
			width: 100%;
		}
		.contacts-type-box{
			width: 100% !important;
			margin-bottom: 20px;
			.contacts-list{
				width: 100%;
			}
		}
	}

	.contacts-wrapper{
		width: 100%;
		margin-bottom: 10px;
		float: left;
	}
	
	.contacts-type-box{
		float: left;
		flex-direction: column;
		width: 100%;
		align-items: center;
		overflow: hidden;
		position: relative;
		height: fit-content;
		border-bottom: 1px solid rgba(black, .1);

		&:last-of-type{
			border-bottom: none;
		}

		&.address-type{
			&.see-all{
				max-height: 400px;
				.contacts-list{
					max-height: 300px;
					padding-bottom: 20px;
					.contact{
						display: block !important;
					}
				}
			}
		}

		&.see-all:not(.address-type){
			max-height: 150px;
			height: 100%;
			.contacts-list{
				max-height: 100px;
				padding-bottom: 20px;
				.contact{
					display: block !important;
				}
			
			}
			
		}


		.see-all-ctb{
			position: absolute;
			bottom: 0;
			left: 0;
			height: 20px;
			width: 100%;
			background: #fff;
			font-size: 14px;
			border-top: 1px solid rgba(black, .1);
			z-index: 5;
			text-align: center;
			a{
				float: left;
				width: 100%;
				opacity: .6;
				&:hover{
					opacity: 1;
				}
			}
		}

		.contact-type--info{
			margin-bottom: 10px;
			display: inline-flex;
			align-items: center;
			width: 100%;
			p{
				margin-bottom: 0;
				font-weight: 600;
			}
			
				i.material-icons{
					float: left;
					font-size: 16px;
					margin-right: 5px;
				}
	}
	
	.contacts-list{
		height: 100%;
		width: 100%;
		overflow-y: auto;
		transition: all .3s ease-in-out;
		margin-bottom: 20px;
		&.active{
			min-height: 64px;
			overflow-y: unset !important; 
		}
	}
	
	.contact{
		width: 100%;
		float: left;
		padding: 0 10px 10px 0;
		position: relative;
		text-align: left;
		background: #fff;
		overflow: hidden;
		transition: all .3s ease-in-out;

		

		&:not(:first-of-type){
			display: none;
		}

		&:hover{
			background: #f7f7f7;
		}
		&.active{
			overflow: unset !important;
			position: absolute;
			top: 0px;
			left: 0px;
		}

		&.main-contact{
			.contact-description{
				display: inline-flex;
				align-items: center;
				&:after{
					content: "star";
					display: inline-flex;
					font-family: "Material Icons";
					font-size: 16px;
					margin-left: 2px;
					color: #ffc107;
					text-shadow: 0 0 1px rgba(black, .5);
				}
			}

		}

		&:hover{
				.contact-edit a{
					opacity: .6;
				}
			}

		.contact-edit{
			position: absolute;
			right: 0;

			
			
			a{
				font-size: 14px;
				opacity: 0;
				color: #333;
				&:hover{
					opacity: 1;
				}
			}
		}
		
		
		.contact-info{
			span{
				float: left;
				width: 100%;
				padding-right: 20px;
			}
			.contact-title{
				font-size: 14px;
			}
		}
		// .btn-more-info, .btn-less-info{
		// 	position: absolute;
		// 	bottom: 5px;
		// 	right: 5px;
		// 	background: #FF5252;
		// 	color: #fff;
		// 	height: 32px;
		// 	width: 32px;
		// 	display: inline-flex;
		// 	justify-content: center;
		// 	align-items: center;
		// 	border-radius: 50%;
		// 	line-height: 35px;
		// 	z-index: 1;
		// 	transition: all .3s ease-in-out;
		// 	box-shadow: 0 0 5px rgba(black, .3);
			
		// 	i.material-icons{
		// 		font-size: 20px;
		// 	}
			
		// 	&.active{
		// 		transform: rotate(180deg);
		// 	}
		// }
		
		// .btn-less-info{
		// 	top: 5px;
		// 	bottom: unset;
		// 	background: #fff;
		// 	color: #666;
		// }

		.more-info{
			width: 100%;
			padding: 10px;
			float: left;
			z-index: 10;
			transition: all .2s ease-in-out;
			margin-top: 5px;
			&.active{
				top: 0px;
				visibility: visible;
				box-shadow: 0 -3px 7px rgba(black, .4);
				overflow-y: auto; 
				opacity: 1;
			}

			.map{
				width: calc(100% + 30px);
				border-radius: 6px;
				margin-left: -10px;
				margin-top: -10px;
				margin-bottom: 5px;
				height: 90px;
				overflow: hidden;
				
				img{
					width: 100%;
				}
			}
			
			
			
			
			.btn-navigate{
				position: absolute;
				bottom: 5px;
				left: 5px;
				width: calc(100% - 10px);
				z-index: 10;
				display: none;
				@media screen and (max-width: 600px ) {
					display: block;
				}

			}
			
		}
	}
}
}

.note{
	width: 100%;
	float: left;
	background: #ffffac;
	border-radius: 4px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid rgba(black, .1);
	position: relative;

	&:hover{
		.btn-delete-note{
			display: inline-flex !important; 
		}
	}

	.btn-delete-note{
		position: absolute;
		top: 5px;
		right:  5px;
		height: 30px;
		width: 30px;
		justify-content: center;
		align-items: center;
		color: #666;
		border-radius: 50%; 
		display: none;


		&:hover{
			background: rgba(black, .1);
		}
	}
}

.worker-tasks{
	.collection-item.avatar{
		&:hover{
			background: #f6f6f6;
		}
		min-height: auto;
		padding-top: 0px;
		padding-bottom: 0px;
		a{
			display: block;
			padding: 10px 0;
		}
	}
}