<li class="collection-item todo-items">
  <div class="list-left">
  </div>
  <div class="list-content">
    <div class="list-title-area">
      <div class="list-title"><%= data[:name] %></div>
    </div>
    <div class="">
      <%= data[:value] %>
    </div>
  </div>
</li>