<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
<!-- BEGIN: Head-->

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta name="author" content="Woffice LLC">
  <title>Woffice</title>
  <link rel="apple-touch-icon" href="/materialize/images/favicon/apple-touch-icon-152x152.png">
  <link rel="shortcut icon" type="image/x-icon" href="/materialize/images/favicon/favicon-32x32.png">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- BEGIN: VENDOR CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/vendors.min.css">
  <!-- END: VENDOR CSS-->
  <!-- BEGIN: Page Level CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/vendors/animate-css/animate.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/materialize.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/themes/vertical-modern-menu-template/style.css">
  <link rel="stylesheet" type="text/css" href="/materialize/css/pages/page-maintenance.css">
  <!-- END: Page Level CSS-->
  <!-- BEGIN: Custom CSS-->
  <link rel="stylesheet" type="text/css" href="/materialize/css/custom/custom.css">
  <link rel="stylesheet" type="text/css" href="/css/errors-pages.css">
  <!-- END: Custom CSS-->
</head>
<!-- END: Head-->

<body class="page503">
<div class="error-wrapper">
  <div class="error-logo animated fadeInDown">
    <img src="woffice.svg" alt="Woffice">
  </div>
  <div class="error-content">
    <div class="error-img animate fadeUp">
      <img src="503.png" alt="">
    </div>
    <div class="error-msg">
      <h1 class="animate fadeRight"><%= reason %></h1>
      <a href="http://www.woffice.app" class="btn-error btn border-round animate fadeRight">Go to Woffice</a>
    </div>
  </div>
</div>
</body>

</html>