<div class="input-field">
  <label for="" class="active"><%= t 'titles.hour_cost' %></label>
  <input type="number" name="hour_cost" value="<%= $schedule.hour_cost  %>" required>

</div>
<input type="text" class="hide" name="schedule" value="<%= $schedule.id  %>">
