<div class="card-panel">
  <div class="row">
    <div class="col s4 m5">
      <h6>Lead #4324234</h6>
      <span>Customer: John Smith</span>
    </div>
    <div class="col s4 m5">
      <span style="width: 100%" class="left">555-5555</span>
      <span style="width: 100%" class="left">Via phone</span>
      <span style="width: 100%" class="left">Description</span>
    </div>
    <div class="col s4 m2">
      <span class="chip lighten-5 green green-text right mr-0">Status 1</span>
      <span style="width: 100%" class="right right-align">2020-02-02</span>
    </div>
  </div>
</div>