<div class="welcome-wrapper">
  <div class="welcome-logo animated fadeInDown">
    <img src="woffice.svg" alt="Woffice">
  </div>
  <div class="welcome-content animated fadeInUp">
    <h1>Welcome!</h1>
    <p>You are glad to have you here.</p>
    <p>If you want to know anything before continue, check out our <a href="#knowledge">knowledge base</a> to learn more about Woffice.</p>
    <p>Woffice works better integrated with Square. We highly recommend your to sign up if you’re not already, it's free.</p>
    <p><a href="https://squareup.com/t/f_partnerships/p_Novostek/l_us?route=signup" target="_blank" rel="noopener noreferrer">Click here to sign up to Square</a>.</p>
    <p><a href="/">Go to your home page</a></p>
  </div>
</div>