<%= content_for :head_content do %>
  <link href='/css/settings.css' rel='stylesheet' type='text/css'/>
<% end %>

<section class="invoice-list-wrapper section">
  <div class="content-wrapper-before woffice-color"></div>
  <div class="pb-0 pt-4" id="breadcrumbs-wrapper">
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title mt-0 mb-0"><span><%= t 'activerecord.models.settings' %></span></h5>
        </div>
      </div>
    </div>
  </div>

  <div class="">
    <div class="settings_container">
      <div class="section">
        <%= render partial: 'menu', locals: {page: 'site'} %>

        <div class="row">
          <div class="col s12">
            <a href="#" class="waves-effect green waves-light btn"><i class="material-icons left">edit</i>Go to duda editor</a>
          </div>
        </div>

        <%#= form_with url: update_site_settings_path, local: true, method: "post" do %>
<!--          <div class="card">-->
<!--            <div class="card-content">-->
<!--              <div class="row">-->
<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :overview %>
                  <%#= text_area_tag :overview, html_to_s(@site_data[:site_texts][:overview]), {placeholder: 'Visão Geral da Empresa', style: 'height: 6rem;', class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :services %>
                  <%#= text_area_tag :services, html_to_s(@site_data[:site_texts][:services]), {placeholder: 'Serviços Oferecidos', style: 'height: 6rem;', class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :about_us %>
                  <%#= text_area_tag :about_us, html_to_s(@site_data[:site_texts][:about_us]), {placeholder: 'Sobre Nós', style: 'height: 6rem;', class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :main_text %>
                  <%#= text_area_tag :main_text, html_to_s(@site_data[:site_texts][:custom].select { |h| h[:label].eql? 'main_text' }.first[:text]), {placeholder: 'Texto principal', style: 'height: 6rem;', class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->
<!--              </div>-->

<!--              <div class="row">-->
<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :since %>
                  <%#= text_area_tag :since, html_to_s(@site_data[:site_texts][:custom].select { |h| h[:label].eql? 'since' }.first[:text]),{placeholder: 'Ex.: Since 2006', class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :title_experiency %>
                  <%#= text_area_tag :title_experiency, html_to_s(@site_data[:site_texts][:custom].select { |h| h[:label].eql? 'title_experiency' }.first[:text]),{placeholder: 'Ex.: Produzindo pneus de qualidade a mais de 15 anos',class: "materialize-textarea", size: "4x2", maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= label_tag :text_experiency %>
                  <%#= text_area_tag :text_experiency, html_to_s(@site_data[:site_texts][:custom].select { |h| h[:label].eql? 'title_experiency' }.first[:text]),{placeholder: "Ex.: We are a highly-conceited company in our area. With hundreds of projects done, including residential and commercial customers, Madeira Millwork is the best option for you, our goal is the perfect result of your project[...]",class: "materialize-textarea", style: 'height: 6rem;', maxlength: 500} %>
<!--                </div>-->

<!--                <div class="input-field col s12 m6">-->
                  <%#= text_area_tag :title_requeste_cote, html_to_s(@site_data[:site_texts][:custom].select { |h| h[:label].eql? 'title_requeste_cote' }.first[:text]),{placeholder: "Ex.: Request a Quote right now!",class: "materialize-textarea", size: "4x2", maxlength: 500} %>
                  <%#= label_tag :title_requeste_cote %>
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
          <%#= submit_tag t('button.save'), class: "btn right" %>
        <%# end %>

      </div>
    </div>
    <div class="content-overlay"></div>
  </div>
</section>