
      <h6 class="greetings">Dear, <%= @order.current_estimate.customer %>!</h6>
      <p>Following attached Invoice related to Order #<%= @order.code %>.</p>
      <p>
        <%= raw (Setting.get_value("send_invoice_mail_text") || "").remove 'Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a>'  %>
      </p>
      <br>
      <a class="btn btn-primary" href="<%= @link %>">See Invoice</a>
