
<h6 class="greetings">Hi, <%= @estimate.customer %>!</h6>
<p>
  <%= raw (Setting.get_value("send_estimate_mail_text")|| "").remove 'Powered by <a href="https://www.froala.com/wysiwyg-editor?pb=1" title="Froala Editor">Froala Editor</a>' %>
</p>
<br>
<a class="btn btn-primary" href="<%= @estimate.link %>">See your Estimate!</a>
