<b>Dear: </b> <%= @order.get_current_estimate.customer %>

<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>

<%= image_tag attachments['logo.png'].url %>
<!--<img src="<%#= @url %>/square_name.svg">-->
<a href="<%= @link %>">Square checkout</a>