<div class="section">
  <div id="react-component"></div>
<%= content_tag :div,
  id: "order_data",
  data: @order.to_json,
  products: @products.to_json do %>
<% end %>

<%= javascript_pack_tag 'orders/ProductComponent/index' %>
  

</div>