<div class="row">
  <div class="col s12 l3"><%= area.name %></div>
  <div class="col s12 l3"><%= area.measurements.height %></div>
  <div class="col s12 l3"><%= area.measurements.height %></div>
  <div class="col s12 l3"><%= area.measurements.height %></div>
</div>