<div class="card-panel">

  <% if @estimate.present? %>
    <%== @mail = @template.render('estimate' => @estimate.attributes, 'measurements' => JSON.parse(@estimate.measurement_areas.to_json), 'customer' => @estimate.customer.attributes, 'custom' => @params, 'signature' => JSON.parse(@estimate.signatures.last.to_json)   ) %>
  <% else %>
    <%== @mail = @template.render('custom' => @params   ) %>
  <% end %>
</div>

