<p><%= t 'texts.devise.welcome' %> <%= @email %>!</p>

<p><%= t 'texts.devise.confirm_account_email_through_the_link_below' %>:</p>

<p><%= link_to t('texts.devise.confirm_my_account'), confirmation_url(@resource, confirmation_token: @token) %></p>
