<div id="woffice_pay" class="modal">
  <div class="modal-content">
    <h5><%= t 'texts.layout.scan_this_code_woffice_pay' %></h5>
    <div class="center">
      <img src="" alt="" class="responsive-img" id="qr-woffice" style="max-height: 100%">
    </div>
  </div>
  <div class="modal-footer">
    <div class="modal-action modal-close waves-effect waves-green btn-flat btn-send">
      <%= t 'button.close' %>
    </div>
    <!--		<a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat btn-send"> <i class="material-icons left">send</i> Send</a>-->
  </div>
</div>
<%= content_for :scripts do %>
  <script type="text/javascript" charset="utf-8">
      function get_woffice_code() {
          $("#qr-woffice").attr("src","/api/woffice_pay_code");
          $("#woffice_pay").modal('open');
      }
  </script>
<% end %>





