	<!DOCTYPE html>
<html>

	<head>
		<meta charset="utf-8">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui" />
		

		<%= stylesheet_link_tag 'conversational-form-docs.min' %>
		<%= stylesheet_link_tag 'bot' %>

		<script type="text/javascript"
			src="https://cdn.jsdelivr.net/gh/space10-community/conversational-form@1.0.1/dist/conversational-form.min.js"
			crossorigin></script>
		<script data-turbolinks-eval="false" type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuo1c-9BiXODXuM5L3n26CRdukjlnlUpU&libraries=places"></script>

	</head>
  <body>
    <%= yield %>
    <%= yield :scripts %>
  </body>
</html>